<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Files Manager - Administration</title>
    <link rel="shortcut icon" href="{{ path_for('home') }}img/favicon.png"/>
    <link rel="stylesheet" href="{{ path_for('home') }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ path_for('home') }}css/style.min.css">
  </head>
  <script src="{{ path_for('home') }}js/jquery.min.js"></script>
  <script src="{{ path_for('home') }}js/bootstrap.min.js"></script>
  <body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ path_for('admin') }}"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Administration</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="{{ path_for('admin') }}"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Les logs</a></li>
            <li><a href="{{ path_for('users') }}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Les utilisateurs</a></li>
            <li><a href="{{ path_for('admin_dir') }}"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> Les répertoires serveur</a></li>
            <li><a href="{{ path_for('settings') }}"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Paramètres</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ path_for('home') }}"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Revenir sur l'application</a></li>
            <li><a href="{{ path_for('logout') }}"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Se déconnecter</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container">

      {% if alert.success %}
        <div class="alert alert-dismissible alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ alert.success }}
        </div>
      {% endif %}

      {% if alert.danger %}
        <div class="alert alert-dismissible alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ alert.danger }}
        </div>
      {% endif %}

      {% block content %}{% endblock %}
    </div>

    <footer class="footer">
      <p class="text-center">Files Manager - Codé avec <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> sur <a href="https://github.com/Fukotaku/files-manager" target="_blank">github</a></p>
    </footer>

  </body>
</html>
